<div class="container">
    <h1>Welcome to your SuperPortal</h1>
    <p>You want to change this HTML? Find me in app/views/welcome/index.html.erb</p>
    <p>You want to change the stylesheet files? Find me in app/assets/stylesheets</p>
    <p>You want to change the JavaScript files? Find me in app/assets/javascripts</p>
    <p>You want to change the JavaScript files? Find me in app/assets/javascripts</p>
    <p>You want to change add a route like /property? Find some documentation <a href="https://guides.rubyonrails.org/getting_started.html#setting-the-application-home-page"> here</a>.</p>
</div>
