<div class="main-container">

  <div class="container navigation-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <a class="navbar-brand " href="#">Praga</a>
          <span class="navbar__logo-text">Real Estate Company</span>
        </div>
        <div class="col">
          <div class="navbar__contact">
            <span>Llámanos</span>
            <span>55 1660 7641</span>

          </div>
        </div>
        <div class="col d-flex navbar__icons">


          <div class="navbar__icon rounded-circle"><a href="#"><i class="fab fa-facebook-f fa-xs"></i></a></div>
          <div class="navbar__icon rounded-circle"><a href="#"><i class="fab fa-twitter fa-xs"></i></a></div>
          <div class="navbar__icon rounded-circle"><a href="#"><i class="fab fa-linkedin-in fa-xs"></i></a></div>
          <div class="navbar__icon rounded-circle"><a href="#"><i class="fab fa-youtube fa-xs"></i></a></div>
          <div class="navbar__icon rounded-circle"><a href="#"><i class="fab fa-instagram fa-xs"></i></a></div>
          <div class="navbar__icon rounded-circle"><a href="#"><i class="fab fa-pinterest fa-xs"></i></a></div>
          <div class="navbar__icon rounded-circle"><a h ref="#"><i class="fab fa-whatsapp fa-xs"></i></a></div>

        </div>
        <div class="col d-flex navbar__search-bar">
          <form class="form-inline">
            <div class="input-group ">
            <label for="exampleFormControlSelect1 "class="navbar__label"><i class="fas fa-search"></i>Buscar Propiedades</label>
              <input type="text" class="form-control border " placeholder="" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
          </form>
        </div>
      </div>

    </div>
    <nav class="navbar navbar-expand-lg navbar-light ">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ventas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rentas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contáctanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Propietarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">¿Quiénes somos?</a>
          </li>
        </ul>
      </div>
    </nav>


  </div>


  <div class="container-fluid text-center property-image">
    <div class="container landing-form float-left">
      <div class="landing-form__title">
        <span>Encuentra tu</span>
        <span>próxima casa</span>
      </div>
      <div class="landing-form__input">
        <form>
          <div class="form-group">
            <i class="fas fa-chevron-down fa-xs landing-form__caret"></i>
            <label for="exampleFormControlSelect1 landing-form__label">Propiedades en Venta</label>
            <select class="form-control landing-form__select" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <i class="fas fa-chevron-down fa-xs landing-form__caret"></i>
            <label for="exampleFormControlSelect1 landing-form__label">Tipo de propiedad</label>
            <select class="form-control landing-form__select" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary btn-block  landing-form__button">Buscar propiedades</button>
        </form>
      </div>
    </div>
  </div>



  <div class="container block-header text-center">
    <h3>
      Propiedades Destacadas
    </h3>
  </div>

  <div class="container property-preview">

    <div class="property-preview__container">

      <div class="property-preview__card">
        <div class="property-preview__label-top">
          <span>VENTA</span>
        </div>
        <div class="property-preview__label-bottom">
          <span>$3,200,000</span>
        </div>
      </div>

      <div class="property-preview__info">
        <span class="property-preview__description">
          Casa en Hipódromo Condesa, Cuauhtémoc
        </span>
        <div class="property-preview__features">
          <i class="fas fa-bed fa-xs"></i>
          <span>3</span>
          <i class="fas fa-bath fa-xs"></i>
          <span>2</span>
          <i class="fas fa-car fa-xs"></i>
          <span>2</span>
          <i class="fas fa-arrows-alt fa-xs"></i>
          <span>300 sq. ft.</span>
        </div>
      </div>

    </div>
    <div class=" property-preview__container">

      <div class="property-preview__card">
        <div class="property-preview__label-top">
          <span>VENTA</span>
        </div>
        <div class="property-preview__label-bottom">
          <span>$3,200,000</span>
        </div>
      </div>

      <div class="property-preview__info">
        <span class="property-preview__description">
          Casa en Hipódromo Condesa, Cuauhtémoc
        </span>
        <div class="property-preview__features">
          <i class="fas fa-bed fa-xs"></i>
          <span>3</span>
          <i class="fas fa-bath fa-xs"></i>
          <span>2</span>
          <i class="fas fa-car fa-xs"></i>
          <span>2</span>
          <i class="fas fa-arrows-alt fa-xs"></i>
          <span>300 sq. ft.</span>
        </div>
      </div>

    </div>
    <div class="property-preview__container">

      <div class="property-preview__card">
        <div class="property-preview__label-top">
          <span>VENTA</span>
        </div>
        <div class="property-preview__label-bottom">
          <span>$3,200,000</span>
        </div>
      </div>

      <div class="property-preview__info">
        <span class="property-preview__description">
          Casa en Hipódromo Condesa, Cuauhtémoc
        </span>
        <div class="property-preview__features">
          <i class="fas fa-bed fa-xs"></i>
          <span>3</span>
          <i class="fas fa-bath fa-xs"></i>
          <span>2</span>
          <i class="fas fa-car fa-xs"></i>
          <span>2</span>
          <i class="fas fa-arrows-alt fa-xs"></i>
          <span>300 sq. ft.</span>
        </div>
      </div>

    </div>
  </div>
  <div class="container property-preview">

    <div class="property-preview__container">

      <div class="property-preview__card">
        <div class="property-preview__label-top">
          <span>VENTA</span>
        </div>
        <div class="property-preview__label-bottom">
          <span>$3,200,000</span>
        </div>
      </div>

      <div class="property-preview__info">
        <span class="property-preview__description">
          Casa en Hipódromo Condesa, Cuauhtémoc
        </span>
        <div class="property-preview__features">
          <i class="fas fa-bed fa-xs"></i>
          <span>3</span>
          <i class="fas fa-bath fa-xs"></i>
          <span>2</span>
          <i class="fas fa-car fa-xs"></i>
          <span>2</span>
          <i class="fas fa-arrows-alt fa-xs"></i>
          <span>300 sq. ft.</span>
        </div>
      </div>

    </div>
    <div class=" property-preview__container">

      <div class="property-preview__card">
        <div class="property-preview__label-top">
          <span>VENTA</span>
        </div>
        <div class="property-preview__label-bottom">
          <span>$3,200,000</span>
        </div>
      </div>

      <div class="property-preview__info">
        <span class="property-preview__description">
          Casa en Hipódromo Condesa, Cuauhtémoc
        </span>
        <div class="property-preview__features">
          <i class="fas fa-bed fa-xs"></i>
          <span>3</span>
          <i class="fas fa-bath fa-xs"></i>
          <span>2</span>
          <i class="fas fa-car fa-xs"></i>
          <span>2</span>
          <i class="fas fa-arrows-alt fa-xs"></i>
          <span>300 sq. ft.</span>
        </div>
      </div>

    </div>
    <div class="property-preview__container">

      <div class="property-preview__card">
        <div class="property-preview__label-top">
          <span>VENTA</span>
        </div>
        <div class="property-preview__label-bottom">
          <span>$3,200,000</span>
        </div>
      </div>

      <div class="property-preview__info">
        <span class="property-preview__description">
          Casa en Hipódromo Condesa, Cuauhtémoc
        </span>
        <div class="property-preview__features">
          <i class="fas fa-bed fa-xs"></i>
          <span>3</span>
          <i class="fas fa-bath fa-xs"></i>
          <span>2</span>
          <i class="fas fa-car fa-xs"></i>
          <span>2</span>
          <i class="fas fa-arrows-alt fa-xs"></i>
          <span>300 sq. ft.</span>
        </div>
      </div>

    </div>
  </div>

  <div class="container block-header text-center">
    <h3>
      Nuestros Agentes Destacados
    </h3>
  </div>


  <div class="container-fluid agent-preview">
    <div class="agent-preview__card text-center rounded">
      <div class="agent-preview__image rounded">
      </div>
      <div class="agent-preview__contact-info shadow-sm rounded
      ">
        <span class="agent-preview__agent-name">Scott Pilgrim</span>
        <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
      </div>
    </div>
    <div class="agent-preview__card text-center rounded">
      <div class="agent-preview__image rounded">
      </div>
      <div class="agent-preview__contact-info shadow-sm rounded
      ">
        <span class="agent-preview__agent-name">Scott Pilgrim</span>
        <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
      </div>
    </div>
    <div class="agent-preview__card text-center rounded">
      <div class="agent-preview__image rounded">
      </div>
      <div class="agent-preview__contact-info shadow-sm rounded
      ">
        <span class="agent-preview__agent-name">Scott Pilgrim</span>
        <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
      </div>
    </div>
    <div class="agent-preview__card text-center rounded">
      <div class="agent-preview__image rounded">
      </div>
      <div class="agent-preview__contact-info shadow-sm rounded
      ">
        <span class="agent-preview__agent-name">Scott Pilgrim</span>
        <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
      </div>
    </div>
    <div class="rounded-circle agent-preview__next-button">
      <i class="fas fa-arrow-right"></i>
  
    </div>
  </div>




  <div class="container-fluid footer-area">

    <div class="container">

      <div class="row">
        <div class="col-4">
          <h3>Contáctanos</h3>
          <ul>
            <li>
              Av. Insurgentes Sur 0000, 4o Piso
            </li>
            <li>
              Col. Condesa, 00000, Ciudad de México
            </li>
            <li>
              Teléfono: 505050505
            </li>
            <li>
              daniel@easybroker.com
            </li>
          </ul>

        </div>
        <div class="col-4">
          <h3>Menú</h3>
          <ul>
            <li>
              Inicio
            </li>
            <li>
              Ventas
            </li>
            <li>
              Rentas
            </li>
            <li>
              Contáctanos
            </li>
            <li>
              Propietarios
            </li>
            <li>
              ¿Quiénes Somos?
            </li>
          </ul>

        </div>
        <div class="col-4">
          <h3>Contáctanos</h3>
          <ul>
            <li>
              Av. Insurgentes Sur 0000, 4o Piso
            </li>
            <li>
              Col. Condesa, 00000, Ciudad de México
            </li>
            <li>
              Teléfono: 505050505
            </li>
            <li>
              daniel@easybroker.com
            </li>
          </ul>

        </div>
      </div>



      <div class="footer-area__copyright float-right">
        Powered by EasyBroker
      </div>


    </div>

  </div>

  <div class=" page-accent">
  </div>

</div>