<div class="container">
    <h1>Welcome to your SuperPortal</h1>
    <p>You want to change this HTML? Find me in app/views/welcome/index.html.erb</p>
    <p>You want to change the stylesheet files? Find me in app/assets/stylesheets</p>
    <p>You want to change the JavaScript files? Find me in app/assets/javascripts</p>
    <p>You want to change the JavaScript files? Find me in app/assets/javascripts</p>
    <p>You want to change add a route like /property? Find some documentation <a href="https://guides.rubyonrails.org/getting_started.html#setting-the-application-home-page"> here</a>.</p>

    <h2 class="my-4">Owl Carousel simple example</h2>
    <div class="owl-carousel owl-theme">
      <div class="item"><h4>1</h4></div>
      <div class="item"><h4>2</h4></div>
      <div class="item"><h4>3</h4></div>
      <div class="item"><h4>4</h4></div>
      <div class="item"><h4>5</h4></div>
      <div class="item"><h4>6</h4></div>
      <div class="item"><h4>7</h4></div>
      <div class="item"><h4>8</h4></div>
      <div class="item"><h4>9</h4></div>
      <div class="item"><h4>10</h4></div>
      <div class="item"><h4>11</h4></div>
      <div class="item"><h4>12</h4></div>
    </div>
</div>
