/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "../../../vendor/assets/stylesheets/owl.carousel.min";
@import "../../../vendor/assets/stylesheets/owl.theme.default.min";

$accent-color:rgba(38, 38, 39, .9);
$body-color: #262627;
$gray-color: #5C5C5D;
$light-gray-color: #939393;
$success-color: #45E5B0;
$warning-color : #FFCA45;
$danger-color: #FF4D4D;
$border-hover-color: #D1B389;
$strong-accent-color: #262627;

$font-playfair:"Playfair Display script=all rev=1",
"Adobe Blank";
$font-quicksand:'Quicksand',
sans-serif;


.col {

  a,
  span {
    display: block;
  }

  a {
    text-align: center;

  }

  .navbar__icon {

    width: 30px;
    height: 30px;
    border: 1px solid black;
    // border-radius: 50%;
  }

  .fab {

    color: black;

  }

  .d-flex {
    align-items: center;
    justify-content: space-between;
  }

  .navbar__logo-text {
    font-family: $font-quicksand;
    font-size: 16px;
    color: $light-gray-color;
  }

}

.navbar-brand {
  height: 60px;
  color: black;
  text-align: left !important;
  font-weight: 900;
  font-size: 40px;
  font-family: $font-playfair;
}

.navbar__contact {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  height: 100%;
  transform: translateY(5px);

  span:first-child {
    font-family: $font-quicksand;
    font-size: 16px;
    color: $light-gray-color;
  }

  span {
    font-family: $font-quicksand;
    font-size: 24px;
    color: black;
  }
}

.navbar__icons {
  align-items: center;
  justify-content: space-between;
}

.navbar__search-bar {
  align-items: center;
  justify-content: space-between;

}

.active {
  border-bottom: 5px solid $border-hover-color;
}

.navbar {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-weight: 800;
  font-size: 18px;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.border {
  border: 1px solid black !important;
  border-radius: 0%;
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
}


.property-image {
  width: 1440px;
  height: 450px;
  background-position: center;
  background-image: image-url('EB-B7829-14.jpg');
}

.property-summary {
  height: 160px;
  background-color: #F9F5F0;
  width: 1440px;
  display: flex;
  align-items: center;

  .property-summary__address {
    text-align: left !important;
    font-family: $font-quicksand;
    font-size: 16px;
    color: $light-gray-color;

  }

  .property-summary__title {
    color: black;
    text-align: left !important;
    font-weight: 900;
    font-size: 40px;
    font-family: $font-playfair;
  }
}

.property-image {
  width: 1440px;
  height: 450px;
  background-position: center;
  background-image: image-url('EB-B7829-14.jpg');
}

.property-features {
  height: 220px;
  background-color: $strong-accent-color;
  width: 1440px;
  display: flex;
  align-items: center;

  .container {
    height: inherit;

    .row {
      position: relative;
      height: 100%;
      margin-bottom: 0px;
      margin-top: 0px;

      .row:first-child {
        border-bottom: 1px solid $border-color;
      }

      .row {
        height: 50%;

        div:last-child {
          border-right: none;
        }

        div {
          border-right: 1px solid $border-color;
        }
      }
    }
  }

  .property-features__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }

  .property-features__title {
    font-family: $font-playfair;
    color: white;
    font-size: 32px;
    font-weight: 900;
  }

  .property-features__description {
    font-family: $font-quicksand;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 100;
  }
}

.form-group {
  position: relative;

  input,
  button {
    height: 50px;
  }

  textarea {
    height: 80px;
  }
}

.contact-form__input {
  font-family: $font-quicksand;
  font-size: 16px;
  font-weight: 900;
}

.contact-form {
  right: 0px;
  position: absolute;
  background-color: white;
  height: 518px;
  padding-right: 0px;
  padding-left: 0px;

  .contact-form__thumbnail {
    border-radius: 50%;
    height: 62px;
    width: 62px;
    background-color: gray;
  }

  .contact-form__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .contact-form__name {
    font-family: $font-quicksand;
    font-size: 24px;
    text-transform: capitalize;

  }

  .contact-form__user-input {
    border: 1.5px solid black;
    text-transform: capitalize;
    border-radius: 0px;

  }

  .contact-form__container {
    padding: 24px 44px 44px 44px;
  }

  textarea {
    resize: none;
  }

  .contact-form__phone {
    font-family: $font-quicksand;
    color: $light-gray-color;
    font-size: 16px;
    font-weight: 900;
  }

  .contact-form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 165px;
  }

  .contact-form__label {
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: none;
  }

  .contact-form__button {
    background-color: black;
    border-radius: 0px;
    border: 1.5px solid black;
    height: 50px;

  }

}

.description-area {
  height: 720px;
  font-family: $font-quicksand;
  font-size: 16px;
  padding-top: 30px;
}

.description-area__description {
  padding-right: 40px;
}

.description-area__bullets{
  list-style-type: none;

}
.bullet{
  padding-right: 15px;
  padding-bottom: 15px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.location-area{
  height: 460px;
  position: relative;


  .location-area__map{
    height: 100%;
    width: 100%;
    background-color: #939393;
  }
  .location-area__address-container{

    font-family: $font-quicksand;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 80px;
    width: 530px;
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    background-color: black;
    opacity: 0.6;

    padding-left: 18px;
  }

  .location-area__label{
    font-size: 16px;
    color: $light-gray-color;
  }
  .location-area__address{
    i {
      color: $light-gray-color;
    }
    font-size: 18px;
    font-weight: 900;
  }


}

.block-header{
  height: 120px;
  h3{
    font-family: $font-playfair;
    font-weight: 900;
    font-size: 32px;
    padding-top: 55px;
  }
}

.property-preview{
  display: flex; 
  justify-content: space-between
}
.property-preview__container{
  display: flex;
  height: 435px;
  width: 350px;
  flex-direction: column;
  align-items: flex-start;
  .property-preview__card{
    width: inherit;
    height: 260px;
    background-color: #5C5C5D;
    position: relative;
    background-position: center;
    background-image: image-url('EB-B7829-14.jpg');

  }
  .property-preview__label-top{
    position: absolute;
    left: 0;
    top: 0;
    width: 95px;
    height: 45px;
    background-color: white;
    opacity: 0.6;
    color: $gray-color;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .property-preview__label-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 162px;
    height: 50px;
    background-color: black;
    opacity: 0.6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
  }
  
  .property-preview__features{
    font-family: $font-quicksand;
    font-size: 16px;
    font-weight: 900;
    color: $light-gray-color;
    span{       
      margin-right: 15px;
        }
  }
  .property-preview__description{
    font-family: $font-quicksand;
    font-size: 16px;
    font-weight: 900;
    
  }

}

.footer-area{
  height: 412px;
  font-family: $font-quicksand;
  background-color: #262627;
  color: white;
  h3{
    font-family: $font-playfair;
    font-size: 34px;
    font-weight: 900;


  }
  ul{
    padding-top: 10px;
    font-size: 16px;
    color: $light-gray-color;
  }
  .container .row{
    height: 330px;
    border-bottom: 1px solid white;
    .col-4{
      padding-top: 50px;
    }
  }
}